# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

# Visual Studio Code files
.vscode
.vs

# PyCharm files
.idea

# Eclipse Project settings
*.*project
.settings

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Editor temporaries
*.swn
*.swo
*.swp
*.swm
*~

# IPython notebook checkpoints
.ipynb_checkpoints

# macOS dir files
.DS_Store

exp
**/*build*

logs/
save_ImageNet/
res50_m_n/
m_n/
m_n_perc/
